@use "variables" as *;

.top-message {
  width: 100%;
  text-align: center;
  color: var(--white);
  background-color: var(--red);
  padding: 0.3rem 1.2rem;
  box-sizing: border-box;

  a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
  }
}

.promotion {
  .pv {
    iframe,
    lite-youtube {
      width: 100%;
      aspect-ratio: 16/9;

      & + lite-youtube {
        margin-top: 20px;
      }
    }
  }
  @include mq {
    .pv {
      display: flex;
      justify-content: center;
      gap: 20px;
      lite-youtube {
        & + lite-youtube {
          margin-top: 0;
        }
      }
      & + .pv {
        margin-top: 20px;
      }
    }
  }
}
