@use "variables" as *;

.error404 {
  .mnpk-post {
    .post-header {
      .titlebox {
        position: static;
        .h1container {
          text-align: center;
          h1 {
            background-color: var(--orange);
            display: inline-block;
            padding: returnRem(5);
            position: relative;
            text-align: center;
            transform: rotate(-3deg);
            margin: 2rem auto;
            color: var(--white);
            &::before,
            &::after {
              display: block;
              content: url("../images/corner_squid.svg");
              background-color: var(--orange);
              width: calc(32px * 0.8);
              height: calc(32px * 0.8);
              box-sizing: border-box;
              position: absolute;
              z-index: 1;
            }
            &::before {
              transform: scale(0.8);
              top: 2px;
              left: 2px;
            }
            &::after {
              transform: scale(0.8) rotate(180deg);
              bottom: 2px;
              right: 2px;
            }
            & > span {
              display: inline-block;
              width: auto;
              min-width: 320px;
              max-width: 800px;
              padding: returnRem(5) calc(returnRem(5) + 32px);
              border: solid 2px #000;
              position: relative;
              z-index: 0;
              font-stretch: condensed;
              box-sizing: border-box;
              span {
                display: inline-block;
              }
            }
          }
        }
      }
    }
    @include mq {
      .content {
        margin-top: 5rem;
      }
    }
  }
}
