@charset 'UTF-8';

.wp-block-quote.tweet {
  background-color: var(--tweet-blue);
  padding: 12px 16px;
  border-radius: 16px;
  border-bottom-right-radius: 0;
  color: var(--white);
  max-width: 400px;
  margin: 1rem auto;
}
