:root {
  --white: #fff;
  --black: #000;
  --yellow: #ffbf41;
  --splyellow: rgb(211, 238, 47);
  --lightgray: #a3a3a3;
  --darkgray: #434343;
  --header-bg-color: rgb(54, 32, 28);
  --orange: rgb(252, 56, 24);
  --red: rgb(234, 0, 0);
  --purple: rgb(143, 24, 255);
  --bluegreen: rgb(93, 249, 195);
  --green: rgb(0, 172, 0);
  --h2-bg-color: rgb(144, 246, 208);
  --section-bg-color: rgb(224, 193, 146);
  --footer-bg-color: #333;
  --copyright-bg-color: #999;
  --tweet-blue: rgb(29, 155, 240);
  --attention-bg-color: rgb(255, 192, 192);
  --attention-accent: rgb(192, 32, 32);
  --warning-bg-color: rgb(255, 240, 0);
  --warning-accent: rgb(120, 100, 0);
  --key-color-10th: #32a5cb;
  --key-color-11th: #ffa5cb;
}