@import "https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";

.editor-styles-wrapper {
  --white: #fff;
  --black: #000;
  --yellow: #ffbf41;
  --splyellow: rgb(211, 238, 47);
  --lightgray: #a3a3a3;
  --darkgray: #434343;
  --header-bg-color: rgb(54, 32, 28);
  --orange: rgb(252, 56, 24);
  --red: rgb(234, 0, 0);
  --purple: rgb(143, 24, 255);
  --bluegreen: rgb(93, 249, 195);
  --green: rgb(0, 172, 0);
  --h2-bg-color: rgb(144, 246, 208);
  --section-bg-color: rgb(224, 193, 146);
  --footer-bg-color: #333;
  --copyright-bg-color: #999;
  --tweet-blue: rgb(29, 155, 240);
  --attention-bg-color: rgb(255, 192, 192);
  --attention-accent: rgb(192, 32, 32);
  &.block-editor-writing-flow {
    font-family: "Roboto", "M PLUS 1p", sans-serif;
    a {
      color: var(--red);
    }
    h2 {
      background-color: var(--splyellow);
      margin-bottom: 0.5rem;
      padding: 5px 10px;
      filter: drop-shadow(2px 2px 0 var(--black));
    }
    h3 {
      background-color: var(--yellow);
      padding: 1rem 2rem;
      margin-bottom: 0;

      & + .wp-block-group {
        border: solid 1px var(--yellow);
        padding: 1rem 1.5rem;
        margin-top: 0;
      }
    }
    h4 {
      background-color: var(--green);
      padding: 0.7rem 1.2rem;
      margin-bottom: 0;
      color: var(--white);
      & + .wp-block-group {
        border: solid 1px var(--green);
        padding: 0.7rem 1rem;
        margin-top: 0;
      }
    }
    .attention {
      background-color: var(--attention-bg-color);
      border-radius: 16px;
      padding: 1.5rem;
      color: var(--attention-accent);
      font-weight: bold;
      display: flex;
      align-items: center;

      &::before {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Font Awesome 6 Free";
        content: "\f06a";
        width: 60px;
        font-size: 1.5rem;
        margin-right: 1rem;
      }
    }
    .warning {
      background-color: var(--attention-bg-color);
      border-radius: 16px;
      padding: 1.5rem;
      color: var(--attention-accent);
      font-weight: bold;
      display: flex;
      align-items: center;

      &::before {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Font Awesome 6 Free";
        content: "\f071";
        width: 60px;
        font-size: 1.5rem;
        margin-right: 1rem;
      }
    }

    .wp-block-quote.tweet {
      background-color: var(--tweet-blue);
      padding: 12px 16px;
      border-radius: 16px;
      border-bottom-right-radius: 0;
      color: var(--white);
      max-width: 400px;
      margin: 1rem auto;
    }
  }
}
